@import "variant.less";

html, body {
    height: 100%;
    font-family: 'Î¢ÈíÑÅºÚ', Microsoft YaHei, Helvetica, Tahoma;
    background-color: #fff;
    color: @font-color-dark;
    font-size: @font-size;
}

body:before {
    content: '';
    display: table;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    text-decoration: none;
    color: @base-blue;
    cursor: pointer;
}

ol, ul, li {
    list-style-type: none;
}

body, ul, li, p, h1, h2, h3, h4, h5, h6, label, a {
    padding: 0;
    margin: 0;
    font-weight: normal;
}

.container {
    width: 1080px;
    padding: 0;
}

.container_login {
    width: 990px;
    margin: 0 auto;
}

button{
    background-color: @base-blue;
    color: #fff;
    &:hover {
        color: #fff  !important;
        background-color: #62bcff;
    }
    &:active {
        color: #fff  !important;
        background-color: #3473b1;
    }
    &[disabled] {
        color: #b4b4b4;
        background-color: #f2f2f2;
    }
}

.btn-red{
    background-color: @btn_red;
    color: #fff;
}

.header_login, .header {
    height: 60px;
    background-color: @base-blue;
    border-bottom: 1px solid #188de4;
    img {
        margin-top: 9px;
        float: left;
    }
}

.footer {
    height: 97px;
    background-color: #fff;
    border-top: 1px solid #EAEAEA;
    text-align: center;
    line-height: 97px;
}

.section_login {
    height: 440px;
    text-align: center;
    .login_left {
        float: left;
        width: 450px;
        height: 351px;
        margin: 45px 15px;
        background: url(../img/banner.png) no-repeat;
    }
    .login_right {
        float: right;
        margin: 19px 0;
        width: 352px;
        height: 402px;
        border: 1px solid #DEE3EA;
        background-color: #F9F9F9;
        .login_method {
            &:after {
                .clear-float;
            }
            border-bottom: 1px solid #D1DAE3;
            li {
                width: 50%;
                float: left;
                height: 64px;
                line-height: 64px;
                &:hover {
                    border-bottom: 4px solid @base-blue;
                    a {
                        color: @base-blue;
                    }
                }
                &.active {
                    border-bottom: 4px solid @base-blue;
                    a {
                        color: @base-blue;
                    }
                }
            }
        }
        .login_sm {
            img {
                margin: 44px 0 22px;
            }
            i {
                display: inline-block;
                width: 16px;
                height: 13px;
                margin: 0 2px;
                background: url(../img/refresh.png) no-repeat;
            }
            a {
                color: @base-blue;
            }
        }
        .login_ddzh {
            padding: 62px 17px;
            input {
                height: 48px;
                line-height: 48px;
                width: 316px;
                margin-bottom: 22px;
                padding-left: 29px;
                background: url(../img/psd.png) no-repeat 4%;
                &:first-child {
                    background: url(../img/phone.png) no-repeat 4%;
                }
            }
            button {
                height: 48px;
            }
        }
    }
}

.header {
    span {
        color: #fff;
        line-height: 67px;
        padding-left: 17px;
    }
    ul {
        float: right;
        li {
            float: left;
            padding: 0 9px;
            height: 60px;
            line-height: 60px;
            a {
                color: #fff;
            }
            &.active {
                background-color: #0C76C7;
            }
        }
    }
}

.section {
    padding: 18px auto;
    .qzgl_left {
        float: left;
        margin: 19px 0;
        border: 1px solid @border_gray;
        width: 302px;
        min-height: 449px;
        p {
            height: 60px;
            line-height: 60px;
            border-bottom: 1px solid @border_gray;
            padding: 0 15px;
            font-size: 16px;
            background-color: @bg_gray;
            a {
                width: 82px;
                height: 24px;
                padding: 3px 20px;
                border: 1px solid @border_gray;
                border-radius: 3px;
                -moz-border-radius: 3px;
                -webkit-border-radius: 3px;
                font-size: 12px;
                background-color: #fff;
                margin-left: 9px;
            }
        }
        input {
            height: 50px;
            border: none;
            background: url(../img/search.png) no-repeat 97%;
        }
        ul {
            a:hover {
                background-color: @bg_gray;
                color: #000;
            }
            a.active {
                background-color: @bg_gray;
                color: #000;
            }
        }
        s.arrow_down {
            display: inline-block;
            width: 40px;
            height: 10px;
            background: url(../img/icon_down.png) no-repeat 60%;
        }
        s.arrow_right {
            display: inline-block;
            width: 40px;
            height: 16px;
            vertical-align: sub;
            background: url(../img/icon_right.png) no-repeat 60%;
        }
        .fj {
            border-top: 1px solid @border_gray;
            a {
                display: block;
                height: 48px;
                line-height: 48px;
            }
        }
        .qz {
            margin-left: 13px;
        }
        .fz_detail {
            > li {
                height: 48px;
                line-height: 48px;
            }
            a {
                padding-left: 40px;
            }
            i {
                display: inline-block;
                width: 30px;
                height: 16px;
                vertical-align: middle;
                background: url(../img/icon_fz.png) no-repeat 50%;
            }
        }
    }
    .qzgl_right {
        float: right;
        width: 762px;
        margin: 19px 0;
        border: 1px solid @border_gray;
        min-height: 449px;
        .main_top {
            font-size: 16px;
            height: 60px;
            line-height: 60px;
            border-bottom: 1px solid @border_gray;
            padding: 0 18px;
            background-color: @bg_gray;
            a {
                width: 82px;
                height: 24px;
                padding: 3px 20px;
                border: 1px solid @border_gray;
                border-radius: 3px;
                -moz-border-radius: 3px;
                -webkit-border-radius: 3px;
                font-size: 12px;
                background-color: #fff;
                margin-left: 6px;
            }
            input {
                float: right;
                width: 308px;
                height: 40px;
                border-radius: 3px;
                -moz-border-radius: 3px;
                -webkit-border-radius: 3px;
                margin: 10px -8px;
                background: #fff url(../img/search.png) no-repeat 97%;
            }
        }
        .nav_bread {
            height: 31px;
            line-height: 31px;
            padding-left: 12px;
            border-bottom: 1px solid @border_gray;
            li {
                float: left;
                a {
                    color: @base-blue;
                    &.active {
                        color: #000;
                    }
                }
                span {
                    color: @base-blue;
                    padding: 0 8px;
                }
            }
        }
        .main_title {
            height: 49px;
            border-bottom: 1px solid @border_gray;
            padding: 11px 0;
            span {
                display: inline-block;
                height: 28px;
                line-height: 28px;
                border-left: 4px solid @base-blue;
                padding-left: 30px;
            }
            .grlb {
                background: url(../img/user.png) no-repeat 8px 4px;
            }
            .qylb {
                background: url(../img/list.png) no-repeat 8px 6px;
            }
            .dsflb {
                background: url(../img/icon_dsf.png) no-repeat 5px 4px;
            }
            button {
                float: right;
                width: 80px;
                height: 32px;
                background-color: @base-blue;
                color: #fff;
                margin: -3px 10px 0 0;
            }
        }
    }
}
