@import "variant.less";

.padding-right-off{
    padding-right: 0 !important;
}
.padding-left-off{
    padding-left: 0 !important;
}

//虚拟组织机构
p.title {
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid @border_gray;
    padding: 0 15px;
    font-size: 16px;
    background-color: @bg_gray;
    a {
        width: 82px;
        height: 24px;
        padding: 3px 5px;
        border: 1px solid @border_gray;
        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        font-size: 12px;
        background-color: #fff;
        margin-left: 9px;
    }
}

.section_left {
    float: left;
    margin: 19px 0;
    border: 1px solid @border_gray;
    width: 302px;
    height: 425px;

    input {
        height: 51px;
        border: none;
        padding-right: 35px;
        background: url(../img/search.png) no-repeat 97%;
        border-bottom: 1px solid @border_gray;
    }
    ul.fj {
        height: 362px;
        overflow-y: auto;
        a {
            display: block;
            height: 48px;
            line-height: 48px;
        }
        a.active {
            background-color: @bg_gray;
            color: #000;
        }
        ul.qz {
            margin-left: 15px;
        }
        //三个图标
        s.arrow_down {
            display: inline-block;
            width: 40px;
            height: 10px;
            background: url(../img/icon_down.png) no-repeat 60%;
        }
        s.arrow_right {
            display: inline-block;
            width: 40px;
            height: 16px;
            vertical-align: sub;
            background: url(../img/icon_right.png) no-repeat 60%;
        }
        i.icon {
            display: inline-block;
            width: 48px;
            height: 16px;
            vertical-align: middle;
            background: url(../img/icon_fz.png) no-repeat 26px 0;
        }
    }
}

.section_right {
    float: right;
    width: 762px;
    margin: 19px 0;
    border: 1px solid @border_gray;
    min-height: 425px;
    //下拉框
    .dropdown {
        button {
            height: 40px;
            text-align: left;
            padding-right: 30px;
            position: relative;
            span {
                position: absolute;
                right: 13px;
                top: 16px;
            }
        }
        .dropdown-menu {
            width: 100%;
            min-width: inherit;
        }
    }
    //添加部门
    //选项卡
    ul.manage {
        margin: 15px 0;
        &:after {
            .clear-float;
        }
        li {
            float: left;
            a {
                display: block;
                width: 240px;
                height: 108px;
                border-top: 6px solid #76BCF0;
                background: @bg_gray;
                font-size: 18px;
                margin-left: 10px;
                padding-left: 89px;
                span {
                    margin-top: -6px;
                    line-height: 108px;
                    display: inline-block;
                }
                &:hover {
                    color: #000;
                }
                &.add {
                    background: @bg_gray url("../img/add.png") no-repeat 19px 18px;
                }
                &.application {
                    background: @bg_gray url("../img/application.png") no-repeat 19px 18px;
                }
                &.setting {
                    background: @bg_gray url("../img/setting.png") no-repeat 19px 18px;
                }
                &.active {
                    border-top-color: @base-blue;
                    color: #fff;
                    &.add {
                        background: @base-blue url("../img/add_active.png") no-repeat 19px 18px;
                    }
                    &.application {
                        background: @base-blue url("../img/application_active.png") no-repeat 19px 18px;
                    }
                    &.setting {
                        background: @base-blue url("../img/setting_active.png") no-repeat 19px center;
                    }
                }
            }
        }
    }
    //表单
    form.add {
        width: 410px;
        margin: 20px auto 0;
        .form-group {
            margin-bottom: 20px;
            .vertical_label {
                padding-top: 10px;
            }
            .form-control {
                height: 40px;
            }
            //复选框行
            label.role1 {
                margin-right: 5px;
            }
            label[class~="col-xs-3"],div[class~="col-xs-3"]{
                text-align: right;
                padding-right: 0;
            }
            .tip {
                display: block;
                width: 450px;
                margin-top: 5px;
                margin-left: -5px;
                color: #848484;
            }
            .button_add {
                height: 40px;
            }
        }

    }

    //部门编辑
    p.tag {
        height: 31px;
        line-height: 30px;
        border-bottom: 1px solid @border_gray;
        padding-left: 12px;
        a:first-child {
            color: @base-blue;
        }
        a:first-child + a {
            color: #848484;
        }
    }

    //微应用
    p.title_application {
        height: 48px;
        line-height: 48px;
        border-top: 1px solid @border_gray;
        border-bottom: 1px solid @border_gray;
        i {
            display: inline-block;
            height: 28px;
            vertical-align: middle;
            margin-right: 14px;
            border-left: 4px solid @base-blue;
            &.new {
                border-left-color: #FE944C;
            }
        }
        a {
            color: @base-blue;
        }
    }
    div.detail {
        height: 132px;
        &:before {
            .margin-top
        }
        ul {
            margin: 22px 19px 0;
            &:after {
                .clear-float;
            }
            li {
                float: left;
                margin-left: 20px;
                width: 72px;
                cursor: pointer;
                img {
                    width: 72px;
                    height: 72px;
                }
                div.hover {
                    &:before {
                        .margin-top;
                    }
                    &:after {
                        .margin-bottom;
                    }
                    a {
                        display: block;
                        width: 72px;
                        height: 28px;
                        line-height: 28px;
                        text-align: center;
                        border: 1px solid @border_gray;
                        border-radius: 14px;
                        margin: 4px 0;
                    }
                    a.setting {
                        margin-bottom: 8px;
                    }
                    a.open {
                        margin: 22px 0;
                    }
                    display: none;
                }
                p {
                    margin-top: 2px;
                    text-align: center;
                }
                //鼠标悬浮，图标改变
                &:hover {
                    img {
                        display: none;
                    }
                    div.hover {
                        display: block;
                    }
                }
            }
        }
    }

    //微应用设置
    .setting_detail {
        width: 425px;
        margin-left: 114px;
        > div {
            line-height: 54px;
            height: 54px;
            >div[class~="col-xs-3"]{
                padding-right: 25px;
                text-align: right;
            }
            //应用logo栏
            &:first-child {
                height: 100px;
                line-height: 100px;
            }
            //可见范围栏、提交按钮栏
            .top {
                margin-top: 7px;
            }
            //其他栏
            &.other {
                .checkbox {
                    margin: 0;
                    input {
                        top: 16px;
                    }
                }
            }
        }
    }

    //无虚拟组织
    .inorganization{
        width: 315px;
        height: 252px;
        margin:60px auto 0 ;
        p{
            margin-top: 15px;
            line-height: 68px;
            color:#848484;
        }
    }

    .glye{
        margin-top: 25px;
        div.row{
            height: 54px;
            line-height: 54px;
        }
    }

}

