@import "variant.less";

//虚拟组织机构
p.title {
  height: 60px;
  line-height: 60px;
  border-bottom: 1px solid @border_gray;
  padding: 0 15px;
  font-size: 16px;
  background-color: @bg_gray;
  a {
    width: 82px;
    height: 24px;
    padding: 3px 5px;
    border: 1px solid @border_gray;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    font-size: 12px;
    background-color: #fff;
    margin-left: 9px;
  }
}

.section_left {
  float: left;
  margin: 19px 0;
  border: 1px solid @border_gray;
  width: 302px;
  height: 425px;

  input {
    height: 50px;
    border: none;
    padding-right: 35px;
    background: url(../img/search.png) no-repeat 97%;
  }
  ul.fj {
    height: 363px;
    overflow-y: auto;
    border-top: 1px solid @border_gray;
    a {
      display: block;
      height: 48px;
      line-height: 48px;
    }
    a.active {
      background-color: @bg_gray;
      color: #000;
    }
    ul.qz {
      margin-left: 15px;
    }
    //三个图标
    s.arrow_down {
      display: inline-block;
      width: 40px;
      height: 10px;
      background: url(../img/icon_down.png) no-repeat 60%;
    }
    s.arrow_right {
      display: inline-block;
      width: 40px;
      height: 16px;
      vertical-align: sub;
      background: url(../img/icon_right.png) no-repeat 60%;
    }
    i.icon {
      display: inline-block;
      width: 48px;
      height: 16px;
      vertical-align: middle;
      background: url(../img/icon_fz.png) no-repeat 26px 0;
    }
  }
}

.section_right {
  float: right;
  width: 762px;
  margin: 19px 0;
  border: 1px solid @border_gray;
  min-height: 425px;
  //添加部门
  //选项卡
  ul.manage {
    margin-top: 13px;
    &:after {
      .clear-float;
    }
    li {
      float: left;
      a {
        display: block;
        width: 240px;
        height: 108px;
        border-top: 6px solid #76BCF0;
        background: @bg_gray;
        font-size: 18px;
        margin-left: 10px;
        padding-left: 89px;
        span {
          margin-top: -6px;
          line-height: 108px;
          display: inline-block;
        }
        &:hover {
          color: #000;
        }
        &.add {
          background: @bg_gray url("../img/add.png") no-repeat 19px 18px;
        }
        &.application {
          background: @bg_gray url("../img/application.png") no-repeat 19px 18px;
        }
        &.setting {
          background: @bg_gray url("../img/setting.png") no-repeat 19px 18px;
        }
        &.active {
          border-top-color: @base-blue;
          color: #fff;
          &.add {
            background: @base-blue url("../img/add_active.png") no-repeat 19px 18px;
          }
          &.application {
            background: @base-blue url("../img/application_active.png") no-repeat 19px 18px;
          }
          &.setting {
            background: @base-blue url("../img/setting_active.png") no-repeat 19px center;
          }
        }
      }
    }
  }
  //表单
  form.add {
    width: 390px;
    margin: 36px auto 0;
    .form-group {
      margin-bottom: 20px;
      .vertical_label {
        padding-top: 10px;
      }
      .form-control {
        height: 40px;
      }
      //复选框行
      label.role1 {
        margin-right: 19px;
      }
      div[class~="col-xs-9"],div[class~="col-xs-4"]{
        padding-left: 0;
      }
      .tip {
        display: block;
        width: 450px;
        margin-top: 5px;
        margin-left: -5px;
        color: #848484;
      }
      .button_add {
        height: 40px;
      }
    }
    //下拉框
    .dropdown {
      button {
        height: 40px;
        text-align: left;
        padding-right: 30px;
        position: relative;
        span {
          position: absolute;
          right: 13px;
          top: 16px;
        }
      }
      .dropdown-menu {
        width: 100%;
        min-width: inherit;
      }
    }
  }

  //部门编辑
  p.tag {
    height: 31px;
    line-height: 30px;
    border-bottom: 1px solid @border_gray;
    padding-left: 12px;
    a:first-child {
      color: @base-blue;
    }
    a:first-child + a {
      color: #848484;
    }
  }

}

