<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../../vendor/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../style/qzgl.css"/>
    <link rel="stylesheet" href="../../style/xnzzjg.css"/>
    <script src="../../vendor/jquery.min.js"></script>
    <script src="../../vendor/bootstrap.min.js"></script>

</head>
<body>
<div class="header">
    <div class="container">
        <img src="../../img/line.png"/>
        <span>杭州市地方税务局直属分局</span>
        <ul>
            <li><a>首页</a></li>
            <li class="active"><a>虚拟组织管理</a></li>
            <li><a>群组管理</a></li>
            <li><a>查询分析</a></li>
            <li><a>信息推送</a></li>
            <li><a>企业清册</a></li>
            <li><a>退出</a></li>
        </ul>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="section_left">
            <p class="title">虚拟组织架构<a>创建虚拟组织</a></p>
            <input type="text" class="form-control" placeholder="请输入搜索的虚拟组织或部门名称"/>
        </div>
        <div class="section_right">
            <div class="inorganization text-center">
                <img src="../../img/build.png" alt=""/>
                <p>您还没有创建虚拟组织，赶快创建吧</p>
                <button class="btn btn-block">创建虚拟组织</button>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <span>Copyright&nbsp;&copy;&nbsp;2008-2016&nbsp;杭州孚嘉科技有限公司版权所有</span>
</div>
</body>
</html>