<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../vendor/bootstrap.min.css"/>
    <link rel="stylesheet" href="../style/1.css"/>
</head>
<body>
<div class="header_login">
    <div class="container_login">
        <img src="../img/line.png"/>
    </div>
</div>
<div class="section_login">
    <div class="container_login">
        <div class="login_left">

        </div>
        <div class="login_right">
            <ul class="login_method">
                <li><a>扫码登录</a></li>
                <li class="active"><a>钉钉账号登录</a></li>
            </ul>
            <div class="login_sm" style="display: none;">
                <img src="../img/ewm.png"/>

                <p>请使用钉钉扫描二维码登录<a><i></i>刷新</a></p>
            </div>
            <div class="login_ddzh">
                <input type="text" class="form-control" placeholder="请输入钉钉手机号"/>
                <input type="text" class="form-control" placeholder="请输入钉钉登录密码"/>
                <button class="btn form-control">登录</button>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <span>Copyright&nbsp;&copy;&nbsp;2008-2016&nbsp;杭州孚嘉科技有限公司版权所有</span>
</div>
</body>
</html>