<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../vendor/bootstrap.min.css"/>
    <link rel="stylesheet" href="../style/1.css"/>
</head>
<body>
<div class="header">
    <div class="container">
        <img src="../img/line.png"/>
        <span>杭州市地方税务局直属分局</span>
        <ul>
            <li><a>首页</a></li>
            <li><a>虚拟组织管理</a></li>
            <li class="active"><a>群组管理</a></li>
            <li><a>查询分析</a></li>
            <li><a>信息推送</a></li>
            <li><a>企业清册</a></li>
            <li><a>退出</a></li>
        </ul>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="qzgl_left">
            <p>群组管理<a>创建群组</a></p>
            <input type="text" class="form-control" placeholder="请输入搜索的虚拟组织或部门名称"/>
            <ul class="fj">
                <li>
                    <a><s class="arrow_down"></s>杭州市地方税务局直属分局1（1000人）</a>
                    <ul class="qz">
                        <li>
                            <a><s class="arrow_down"></s>群组A</a>
                            <ul class="fz_detail">
                                <li><a><i></i>税务局人员（10）</a></li>
                                <li><a class="active"><i></i>企业（10）</a></li>
                                <li><a><i></i>第三方服务机构（10）</a></li>
                            </ul>
                        </li>
                        <li><a><s class="arrow_right"></s>群组B</a></li>
                    </ul>
                </li>
                <li><a><s class="arrow_right"></s>杭州市地方税务局直属分局2（1000人）</a></li>
            </ul>
        </div>
        <div class="qzgl_right">
            <div class="main_top">
                <span>群组A</span>
                <a>群组编辑</a>
                <input type="text" class="form-control" placeholder="第三方服务机构"/>
            </div>
            <div class="nav_bread">
                <ul>
                    <li><a>杭州市地方税务局分局</a><span>&gt;</span></li>
                    <li><a>群组A</a><span>&gt;</span></li>
                    <li><a class="active">第三方服务机构</a></li>
                </ul>
            </div>
            <div class="main_title">
                <span class="dsflb">第三方服务机构列表</span>
                <button class="btn">添加</button>
            </div>
            <div class="qzgl_dsftj qzgl_table">
                <p>
                    删除
                </p>

                <div class="table_dsftj">
                    <table class="table">
                        <thead>
                        <tr>
                            <th class="dsftj1"><input type="checkbox"/></th>
                            <th class="dsftj2">状态</th>
                            <th class="dsftj3">企业名称</th>
                            <th class="dsftj4">纳税人识别号</th>
                            <th class="dsftj5">行政区划<i></i></th>
                            <th class="dsftj6">行业<i></i></th>
                            <th class="dsftj7">人数</th>
                            <th class="dsftj8">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="dsftj1"><input type="checkbox" checked/></td>
                            <td><s class="success"></s></td>
                            <td>杭州孚嘉科技有限公司</td>
                            <td>12345678901234567890</td>
                            <td>浙江省杭州市拱墅区</td>
                            <td>互联网</td>
                            <td>5人</td>
                            <td><a>查看</a></td>
                        </tr>
                        <tr>
                            <td class="dsftj1"><input type="checkbox"/></td>
                            <td><s class="warn"></s></td>
                            <td>杭州孚嘉科技有限公司</td>
                            <td>12345678901234567890</td>
                            <td>浙江省杭州市拱墅区</td>
                            <td>互联网</td>
                            <td>5人</td>
                            <td><a>查看</a></td>
                        </tr>
                        <tr>
                            <td class="dsftj1"><input type="checkbox"/></td>
                            <td><s class="forbit"></s></td>
                            <td>杭州孚嘉科技有限公司</td>
                            <td>12345678901234567890</td>
                            <td>浙江省杭州市拱墅区</td>
                            <td>互联网</td>
                            <td>5人</td>
                            <td><a>查看</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="qrtj">
                    <button class="btn">确认添加</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <span>Copyright&nbsp;&copy;&nbsp;2008-2016&nbsp;杭州孚嘉科技有限公司版权所有</span>
</div>
</body>
</html>